* {
    box-sizing: content-box;
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

body {
    width: 100%;
}

header {
    background-color: springgreen;
}

nav {
    background-color: lightgray;
    }

.main.inactive {
    display: none;
}

.quiz-area {
    display: none;
}

.active-quiz.quiz-area {
    display: inline;
}

#answer-view {
    visibility: hidden;
}
