* {
    box-sizing: content-box;
}

body {
    width: 100%;
}

header {
    background-color: springgreen;
}

nav {
    background-color: lightgray;
    }

.quiz-area {
    display: none;
}

.active-quiz.quiz-area {
    display: inline;
}
