* {
    box-sizing: content-box;
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    margin: 0;
}

body {
    width: 96%;
    margin: 2%;
}

body, header, section, nav {
    border-radius: 5px;
}

header {
    background-color: white;
}

nav {
    background-color: #b1afaf6b;
}

button {
    border: 2px solid #d8d8d8;
    background: white;
    border-radius: 5px;
    padding: 0.6em;
    margin: 0.3em;
}

button:hover {
    background-color: aquamarine;
    font-weight: bolder;
}

.main {

}

#question-form {
    text-align: center;
    box-shadow: 0 1px 10px #c7bdc7;
    padding: 0.4em;
}

textarea {
    border: 0px;
    border-radius: 2px;
    background: #6e6ea212;
    width: 96%;
    font-size: 1em;
}

#app-name {
    font-weight: lighter;
}

#exam-themes {
    background: white;
    border-style: solid;
    padding: 0.5em;
    margin: 0.3em;
    width: 35%;
}

.main.inactive {
    display: none;
}

.quiz-area {
    display: none;
}

.active-quiz.quiz-area {
    display: inline;
}

#answer-view {
    visibility: hidden;
}

/*Question list*/

ul > li {
    margin-bottom: 1em;
}

#all-questions {
    margin-top: 1em;
}

.answer-text {
    color: #148bc194;
}

/*Quiz area*/

.question-box {
    padding: 1em;
}

.question-box * {
    margin-bottom: .4em;
}

#button-box * {
    padding: 1em 2em 1em 2em;
    font-size: .8em;
}


